:root {
    --Anzac: #C18C43;
    --Watermelon: #FC507C;
    --WatermelonHover: rgb(196, 60, 94);
    --CapeHoney: #FFE1A5;
    --MaiTai: #A36C36;
    --DollarBill: #7BB266;
    --Mirage: #1A1F26;
    --StormGray: #76797D;
}